*{
    padding:0;
    margin:0;
}
body{
    background-color: hsl(342, 44%, 32%);
    align-items: center;
    display:block;
}
.title-section{
    text-align: center;
    color: aliceblue;
}
.type{
    height: 20rem;
    width: 90%;
    background-color: hsl(342, 24%, 49%);
    padding: 2%;
    display: inline-block;
    margin:2px;
}
.card{
    text-align: center;
    margin: 2px;
    height: 90%;
    width: 18%;
    background-color: hsl(342, 53%, 76%);
    margin-top: 1%;
    display: inline-block;
}
li{
    text-decoration: none;
    list-style: none;
}
.optional{
    display: none;
}